= form_for @treatment do |f|
  = f.hidden_field :patient_id, value: @patient.id
  - if @treatment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@treatment.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @treatment.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-3
      .field
        = f.label "Datum behandeling"
        = f.date_select :treatment_date, order: [:day, :month, :year], start_year: 2016
    .col-md-3
      .field
        = f.label "Type"
        = f.collection_select :treatment_type, [['Poliklinisch', 'Poliklinisch'], ['Opname', 'Opname']], :first, :last, { include_blank: true }
    .col-md-3
      .field
        = f.label "Behandelaar"
        = f.text_field :treated_by

  .row
    .col-md-3
      .field
        = f.label "Naam behandeling"
        = f.text_field :name
    .col-md-3
      .field
        = f.label "Afdeling"
        = f.collection_select :department, [['Radiologie', 'Radiologie'], ['Chirurgie', 'Chirurgie'],['Cardiologie', 'Cardiologie']], :first, :last, { include_blank: true }
    .col-md-3
      .field
        = f.label "Urgentie"
        = f.collection_select :urgency, [['Laag', 'Laag'], ['Normaal', 'Normaal'],['Speod', 'Spoed']], :first, :last, { include_blank: true }

  - if @patient.hospital == "C" or @patient.hospital == "B"
    .row
      - if @patient.hospital == "B"
        .col-md-3
          .field.b
            = f.label "Doorverwezen door"
            = f.collection_select :registered_by, [['Huisarts', 'Huisarts'], ['Polikliniek', 'Polikliniek']], :first, :last, { include_blank: true }
      - if @patient.hospital == "C"
        .col-md-3
          .field.c
            = f.label "Doorverwezen door"
            = f.collection_select :registered_by, [['Huisarts', 'Huisarts'], ['Polikliniek', 'Polikliniek']], :first, :last, { include_blank: true }
      - if @patient.hospital == "C"
        .col-md-3
          .field.c
            = f.label "Prijs"
            = f.text_field :price
        .col-md-3
          .field.c
            = f.label "Prijsklasse"
            = f.collection_select :price_category, [['A', 'A'], ['B', 'B'],['C', 'C']], :first, :last, { include_blank: true }

  .row
    .col-md-12
      .actions
        = f.submit 'Opslaan', class: "btn btn-primary"
