= form_for @patient do |f|
  = f.hidden_field :hospital, value: @hospital
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg

  .row
    - if @hospital == "B"
      .col-md-3
        .field.b
          = f.label "Initialen"
          = f.text_field :initials, focus: true
    - if @hospital == "C"
      .col-md-3
        .field.c
          = f.label "Initialen"
          = f.text_field :initials, focus: true
    .col-md-3
      .field
        = f.label "Voornaam"
        = f.text_field :first_name, focus: true
    .col-md-3
      .field
        = f.label "Achternaam"
        = f.text_field :last_name

  .row
    .col-md-3
      .field
        = f.label "BSN nummer"
        = f.text_field :bsn
    .col-md-3
      .field
        = f.label "Geboortedatum"
        = f.date_select :birthdate, order: [:day, :month, :year], start_year: 1950
    - if @hospital == "B"
      .col-md-3
        .field.b
          = f.label "Geslacht"
    - elsif @hospital == "C"
      .col-md-3
        .field.c
          = f.label "Geslacht"
    - else
      .col-md-3
        .field
          = f.label "Geslacht"
          = f.collection_select :gender, [['Man', 'Man'],['Vrouw', 'Vrouw']], :first, :last, { include_blank: true, selected: @patient.gender }

  .row
    .col-md-3
      .field
        = f.label "Straat"
        = f.text_field :street
    - if @hospital == "C"
      .col-md-3
        .field.c
          = f.label "Huisnummer"
          = f.text_field :housenumber
    .col-md-3
      .field
        = f.label "Postcode"
        = f.text_field :zipcode
    .col-md-3
      .field
        = f.label "Woonplaats"
        = f.text_field :city

  .row
    .col-md-3
      .field
        = f.label "Telefoon"
        = f.text_field :phone
    - if @hospital == "B"
      .col-md-3
        .field.b
          = f.label "Email"
    - elsif @hospital == "C"
      .col-md-3
        .field.c
          = f.label "Email"
    - else
      .col-md-3
        .field
          = f.label "Email"
          = f.text_field :email, class: ""

  .row
    .col-md-3
      .field
        = f.label "Zorgverzekeraar"
        = f.text_field :insurance_company
    .col-md-3
      .field
        = f.label "Polisnummer"
        = f.number_field :insurance_number

  - if @hospital == "C"
    .row
      .col-md-3
        .field.c
          = f.label "Startdatum verzekering"
          = f.date_select :startdate, order: [:day, :month, :year]
      .col-md-3
        .field.c
          = f.label "Einddatum verzekering"
          = f.date_select :enddate, order: [:day, :month, :year]

  .row
    .col-md-12
      .actions
        = f.submit 'Opslaan', class: "btn btn-primary"
