.details
  %table.table#patient_details
    %tbody
      - if @patient.hospital == "B"
        %tr.b
          %td Geslacht
          %td
          %td Inititalen
          %td= @patient.initials
      - elsif @patient.hospital == "C"
        %tr.c
          %td Geslacht
          %td
          %td Inititalen
          %td= @patient.initials
      - else
        %tr
          %td Geslacht
          %td= @patient.gender
          %td
          %td

      %tr
        %td Voornaam
        %td= @patient.first_name
        %td Achternaam
        %td= @patient.last_name
      %tr
        %td BSN nummer
        %td= @patient.bsn
        %td Geboortedatum
        %td= @patient.birthdate.strftime("%d-%m-%Y")
      %tr
        %td Straat
        %td= @patient.street
        - if @patient.hospital == "C"
          %td.c Huisnummer
          %td.c= @patient.housenumber
        - else
          %td
          %td

      %tr
        %td Postcode
        %td= @patient.zipcode
        %td Woonplaats
        %td= @patient.city
      %tr
        %td Telefoon
        %td= @patient.phone

        - if @patient.hospital == "B"
          %td.b Email
          %td
        - elsif @patient.hospital == "C"
          %td.c Email
          %td
        - else
          %td Email
          %td= @patient.email

      %tr
        %td Zorgverzekeraar
        %td= @patient.insurance_company
        %td Polisnummer
        %td= @patient.insurance_number

      - if @patient.hospital == "C"
        %tr.c
          %td Startdatum verzekering
          %td= @patient.startdate.strftime("%d-%m-%Y") unless @patient.startdate.blank?
          %td Einddatum verzekering
          %td= @patient.enddate.strftime("%d-%m-%Y") unless @patient.enddate.blank?
