%h2
  = link_to "Menu", site_menu_path(hospital: params[:hospital])
  >
  Overzicht patienten

%table.table.table-striped#patients
  %thead
    %tr
      - if params[:hospital] == "B"
        %th.b Initialen
      - if params[:hospital] == "C"
        %th.c Initialen
      %th Voornaam
      %th Achternaam
      %th BSN nummer
      %th Geboortedatum
      - if params[:hospital] == "C"
        %th.c Startdatum
        %th.c Einddatum
      %th

  %tbody
    - @patients.each do |patient|
      %tr
        - if params[:hospital] == "B"
          %td.b= patient.initials
        - if params[:hospital] == "C"
          %td.c= patient.initials
        %td= patient.first_name
        %td= patient.last_name
        %td= patient.bsn
        %td= patient.birthdate.strftime("%d-%m-%Y")
        - if params[:hospital] == "C"
          %td.c= patient.startdate.strftime("%d-%m-%Y")
          %td.c= patient.enddate.strftime("%d-%m-%Y")
        %td
          = link_to 'Details', patient, class: "btn btn-default btn-xs"
          = link_to 'Wijzigen', edit_patient_path(patient, hospital: params[:hospital]), class: "btn btn-default btn-xs"
          = link_to 'Verwijderen', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'Patient toevoegen', new_patient_path(hospital: params[:hospital]), class: "btn btn-primary"
