%h2
  = link_to "Menu", site_menu_path(hospital: @patient.hospital)
  >
  Patient details

.links
  = link_to 'Wijzigen', edit_patient_path(@patient), class: "btn btn-default"
  = link_to 'Verwijderen', @patient, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

= render 'patient_details', patient: @patient
= render 'treatments/treatments', patient: @patient
